@{
    ViewData["Title"] = "Login Failure";
}

<h1>Login Failed</h1>
<p>Unfortunately, we were unable to log you in using GitHub. Please try again.</p>

<div>
    <a asp-action="Login" asp-controller="Account" class="btn btn-primary">Retry Login</a>
</div>
